$heroImageWidth: 500px;
$heroImageHeight: 200px;
body {
    background-color: #1F2937;
}

.container:first-of-type {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.container:nth-of-type(2) {
    padding-left: 15%;
    padding-right: 15%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.container:nth-of-type(3) {
    background-color: #E5E7EB;
    padding-top: 125px;
    padding-bottom: 125px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 20px;
    .headerLogo {
        display: flex;  
        &:first-child {
            color: #F9FAF8;
            font-size: 24px;
            font-weight: bold;
            
        }
    }

    .headerLinks {
        display: flex;

        span {
            padding-left: 2%;
            padding-right: 2%;
            white-space: nowrap;
            
            a {
                color: white;
                text-decoration: none;

                /* Unvisited Links*/
                &:link {
                    color: white;
                    text-decoration: none;
                }

                /* Visited Links */
                &:visited {
                    color: white;
                    text-decoration: none;
                }

                /* Hovered Links */
                &:hover {
                    color: white;
                    text-decoration: underline;
                }

                /* Pressed Links */
                &:active {
                    color: white;
                    text-decoration: none;
                }
            }
            
        }
    }
}

.hero {
    display: flex;
    align-content: space-around;

    .heroLeft {
        margin-right: 2%;
        .heroMainText {
            font-size: 48px;
            font-weight: bolder;
            color: #F9FAF8;
            margin-bottom: 2%;
        }
        .heroSecondaryText {
            font-size: 18px;
            color: #E5E7EB;
            margin-bottom: 2%;
        }
        #heroSignUpBtn {
            background-color:#0275d8;
            color: white;
            border-radius: 5px;
            width: 100px;
            height: 30px;
            border-style: none;
            font-size: 1em;
            margin-bottom: 2%;

            &:hover {
                filter: contrast(2.5);
                cursor: pointer;
            }
        }
    }

    .heroRight {
        div {
            &:first-child{
                width: $heroImageWidth;
                height: $heroImageHeight;
                background-color: gray;
                margin-left: 2%;

                img {
                    width: $heroImageWidth;
                    height: $heroImageHeight;
                }
            }
        }

    }
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    .informationText{
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        padding-bottom: 50px;

    }

    .cards{
        display: flex;
        flex-direction: row;
       
        .card{
            .cardImage{
                border: 2px solid blue;
                border-radius: 10px;
                width: 175px;
                height: 175px
            }
            .cardText{

            }
        }

    }
}

.quote {
    padding-left: 25%;
    padding-right: 25%;
    .quoteText{
        display: flex;
        justify-content: center;
        font-style: italic;
        font-weight: lighter;
        font-size: 36px;
        color: #1F2937;
    }

    .quoteAuthor{
        display: flex;
        flex-direction: row-reverse;
        font-size: 36px;
        color: #1F2937;
        font-weight: bolder;
    }
}